html , body{
  height: 100vh;
  width: 100%;
  /* box-sizing: border-box;  */
  margin: 0;
  
}
#root{
  height: inherit;
  margin: 0;
padding: 0;
}
 
/* In your CSS file (e.g., src/index.css or src/fonts.css) */
@font-face {
  font-family: 'MyCustomFont';
  src: url('/public/introrustg-base2line-webfont.woff') format('opentype');
  font-weight: normal;
  font-style: normal;
}
